  .experience-title {
        font-size: 60px;
        font-weight: 700;
      }
      .timeline-line {
        border-left: 2px solid #ddd;
        height: 100%;
        margin-left: 8px;
      }
      .timeline-dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: white;
        border: 2px solid black;
      }
      .timeline-dot.active {
        border-color: orange;
      }
      .year-text {
        font-size: 40px;
        font-weight: 700;
      }
      .role-text {
        font-size: 15px;
        color: #666;
      }
      .company-link {
        font-size: 18px;
        font-weight: 600;
      }
      .job-type {
        color: #999;
        font-size: 14px;
      }
      .desc-text {
        color: #666;
        font-size: 15px;
      } 
     .section-title {
        font-size: 60px;
        font-weight: 700;
      }
      .edu-title {
        font-size: 22px;
        font-weight: 600;
      }
      .edu-desc {
        font-size: 14px;
        color: #666;
        max-width: 450px;
      }
      .skill-card {
        border: 1px solid #eee;
        padding: 30px;
        border-radius: 12px;
        text-align: center;
        background: #fff;
        transition: 0.3s;
      }
      .skill-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
      }
      .skill-icon {
        height: 70px;
        margin-bottom: 15px;
      }
      .rating-dots span {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #ff5722;
        margin: 0 2px;
      }
      .rating-dots span.off {
        background: #cfd3d7;
      }
      .dot {
        font-size: 20px;
        margin-right: 10px;
      }

       body {
        font-family: "Bricolage Grotesque", sans-serif;
      }
      .line {
        height: 1px;
        background: #000;
        margin: 20px 0 50px 0;
      }
      .form-control {
        border: none;
        border-bottom: 1px solid #d7d7d7;
        border-radius: 0;
        padding-left: 0;
      }
      .form-control:focus {
        box-shadow: none;
        border-bottom: 1px solid #000;
      }
      .send-btn {
        border: 1px solid #ff5c1c;
        background-color: #fff;
        color: #131212;
        border-radius: 50px;
        padding: 10px 25px;
        font-weight: 500;
      }
      .send-btn:hover {
        background: #ff5c1c;
        color: #fff;
      }
      .btn{
        background-color: #ffffff;
        border-radius: 50px;
      }
      .btn-outline{
        border-color: #ff5c1c;
      }
      .btn:hover{
        background-color: rgb(236, 107, 33);
      }
      .social-links a {
        display: block;
        color: #727171;
        text-decoration: none;
        margin-bottom: 10px;
      }
      .bottom-line {
        height: 1px;
        background: #000;
        margin-top: 80px;
      }
      .logo-circle {
        width: 50px;
        height: 50px;
        background: #ff5c1c;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-size: 22px;
        margin-top: -25px;
        margin-bottom: 20px;
      }

.work-card img{
    border-radius: 8px;
    transition: 0.4s;
}

.work-card img:hover{
    transform: scale(1.03);
    cursor: pointer;
}